body, html{
    margin: 0%;
    padding: 0%;
    background-color: rgb(227, 237, 213);
   
   
}

.logo img {
    max-width: 7%;
    height: auto;
}

nav{
    width: 100%;
    overflow: auto;
    background-color: antiquewhite;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    position: fixed;
}

nav li {
    margin-right: 20px;
    height: 50px;
    float: left;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 100%;
    align-items: center;
    display: flex;
    
}

li a:hover {
    background-color: antiquewhite;
}
@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.wil-heading {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;   
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: slideIn 1s ease-out;
}

.main-image-page2 {
    width: 1270px; 
    height: 600px; 
}
